@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-shade: #eeeffb;
    --grey-text: rgba(21, 24, 117, 0.1);
    --accent: #fb2e86;
    --white: #fff;
    --ugsadug: #9f63b5;
    --text: #151875;
    --sky-blue: #00c1fe;
    --section-hover: #2f1ac4;
    --sale-tage-coloe: #3f509e;
    --price-tag-color: #fb2448;
    --violet: #7e33e0;
    --sub-text-color: #8a8fb9;
    --page-button-color: #e0d3f5;
    --pink: #dc8fb0;
  }
  .slick-track{
    display: flex;
  }
  .slick-list{
    overflow: hidden;

  }
  .one-time{
    position: relative;
  }
  .slick-prev{
    margin-top: 35vh;
    font-size: 0px;
    position: absolute;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    right: 20px;
  }
  .slick-next{
    margin-top: -35vh;
    font-size: 0px;
    position: absolute;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    left: 20px;
  }
  .slick-dots{
    display: flex;
   justify-content: center;
   gap: 8px;
  }
  .slick-dots li{
    font-size: 0px;
     width: 8px;
     height: 8px;
     border: 2px solid #d838a3;
     transform: rotate(45deg);
  }